<!DOCTYPE html> <!-- Declaring the document type as HTML5 -->

<html lang="en">  <!-- Defining the language of the document -->
<head>
    <meta charset="UTF-8"> <!-- Declaring character encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Setting viewport for responsive design -->
    <link rel="stylesheet" type="text/css" href="confirmation.css"> <!-- Linking to an external CSS stylesheet -->
    <title>ED3N CAFE</title> <!-- Setting the title of the document -->
</head>

<body>    
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="logo.png" alt="ED3N CAFE Logo" id="block"></a></li> <!-- Navigation link with comapny logo -->
                <li class="shared-class"><a href="/menu">Menu</a></li> <!-- Menu link -->
                <li class="shared-class"><a href="/Booking">Booking</a></li> <!-- Booking link -->
                <div class="dropdown"> <!-- Dropdown menu for Services -->
                    <button class="dropbtn">Services</button>
                    <div class="dropdown-content">
                        <li class="shared-class"><a href="/Catering">Catering</a></li> <!-- Catering link -->
                        <li class="shared-class"><a href="/Venue">Venue</a></li> <!-- Venue link -->
                </div>   
            </ul>
        </nav>
    </header>

    <section id="confirmation"> <!-- Confirmation message section -->
        <h1>Thank You!</h1>
        <p>You have successfully contacted us through our contact form!</p>
        <p>A member of the Ed3n Cafe staff will contact you shortly via email.</p>
        <p>Feel free to explore the website further and get a feel for the cafe.</p>
    </section>

    <footer>
        <section id="contact">
            <div class="contact-info">
                <h2>Contact Us</h2> <!-- Contact heading -->
                <p>Feel free to contact us through our contact form</p> <!-- Contact information -->
            </div>
    
            <div class="social-icons"> <!-- Social media section -->
                <a href="https://www.instagram.com/ed3ncafe/?hl=en" target="_blank">
                    <img src="insta.png" alt="Instagram icon" class="icon"> <!-- Instagram icon -->
                </a>
    
                <a href="https://www.facebook.com/people/ED3N-Caf%C3%A9/100083322580179/?paipv=0&eav=AfZFNcyrVLydb189aYjIWZgvMdFaErOBXDsRzrSL1SQfvaLc3agEmlbAR2SYgVq8QtY&_rdr" target="_blank">
                    <img src="icon2.png" alt="Facebook icon" class="icon"> <!-- Facebook icon -->
                </a>
            </div>
        </section>
        <section id="hours">
            <h2>Opening Hours</h2> <!-- Opening hours heading -->
            <p>Monday - Wednesday: 08:30 - 17:00</p> <!-- Business hours -->
            <p>Thursday - Friday: 08:30 - 18:00</p>
            <p>Saturday: 10:00 - 18:00</p>
            <p>Sunday: 13:00 - 18:00</p>
        </section>
    
        <p>&copy; 2024 ED3N CAFE. All rights reserved.</p> <!-- Copyright information -->
    </footer>
    </body>
    </html>